body {
	line-height: 1.61;
	background: $white;
	color: $black;
	padding: 0;
	margin: 0;
	width: 100%;
	max-width: 100%;
	overflow-x: hidden;
	font-family: "Roboto", sans-serif;
}

.fixedcontainer {
	padding: 0.75rem;
	max-width: 1200px;
	margin: 0 auto;
}

.resimage {
	max-width: 90%;
	max-height: 90%;
}

.centeralign {
	text-align: center;
}

.alignright {
	display: flex;
	justify-content: flex-end;
	text-align: right;
}

// Loader Component
.loader {
	margin: 0 auto;
	max-width: 80%;
	background: $black;
	color: $white;
	padding: 1.5rem;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	border-radius: 0.25rem;

	.MuiSvgIcon-root {
		font-size: 4rem;
		-webkit-animation: load 1.4s infinite linear;
		animation: load 1.4s infinite linear;
	}

	@-webkit-keyframes load {
		0% {
			-webkit-transform: rotate(0deg);
			transform: rotate(0deg);
		}
		100% {
			-webkit-transform: rotate(360deg);
			transform: rotate(360deg);
		}
	}
	@keyframes load {
		0% {
			-webkit-transform: rotate(0deg);
			transform: rotate(0deg);
		}
		100% {
			-webkit-transform: rotate(360deg);
			transform: rotate(360deg);
		}
	}

	&-container {
		position: fixed;
		background: rgba(0, 0, 0, 0.7);
		overflow-y: auto;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		display: flex;
		align-items: center;
		z-index: 999;
	}

	&-text {
		font-size: 1.1rem;
		margin-top: 0.75rem;
	}
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type="number"] {
	-moz-appearance: textfield;
}

.nonefound{
	padding: 1.5rem 0;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	min-height: 40vh;
	color: $textgrey;
	
	.MuiSvgIcon-root{
		font-size: 5rem;
	}
}

.approw{
	width: 100%;
	min-height: 100vh;

	.sectioncol{
		padding: 0.75rem;
	}
}