.header{
	border-bottom: 0.1rem solid $black;

	.fixedcontainer{
		padding: 0.35rem 0.75rem;
	}

	&-right{
		display: flex;
		justify-content: flex-end;
		color: $textgrey;

		.usercontainer{
			display: flex;
			flex-flow: column;
			justify-content: center;
			align-items: center;

			.username{
				font-size: 0.875rem;
				font-weight: 500;
			}

			.MuiSvgIcon-root{
				font-size: 1.875rem;
			}
		}
	}
}