.settings{
	&-tabcontainer{
		padding: 0.5rem 0;

		&-heading{
			width: 100%;
			text-align: center;

			&-label{
				display: inline-block;
				background: $backgroundgrey;
				color: $textgrey;
				padding: 0.75rem;
				border-radius: 0.25rem;
				font-weight: 500;
			}

			margin-bottom: 0.75rem;
		}
	}

	&-sectioncontainer{
		max-width: 700px;
		margin: 0 auto;
		margin-top: 0.75rem;
		padding: 1.5rem 0.75rem;
		border: 0.1rem solid $black;
	}

	&-form{
		.inputrow{
			margin: 1rem 0;
			align-items: center;

			.inputlabel{
				min-width: 65%;
			}

			@media only screen and (min-width: 768px){
				.form-control{
					max-width: 70%;
				}
			}

			.inputcol{
				text-align: center;
				display: flex;
				justify-content: center;
			}
		}

		.buttoncontainer{
			padding: 1rem 0;
			.btn{
				margin-right: 0.875rem;
			}
		}

		.sqlform{
			min-height: 25vh;
			border: 0.1rem solid $bordergrey;
			border-radius: 0;
			background: $backgroundgrey;
		}

		.taskdropdown{
			background: $backgroundgrey;
			padding: 0.875rem 0.35rem;
			height: auto;
		}
	}
}