.sidenav{
	border: 0.1rem solid $black;
	height: 100%;
	border-radius: 0.5rem;
	padding: 0.75rem;
	margin: 0.75rem;

	&-section{
		padding: 0.35rem 0;
	}

	.mainlink, .sublink{
		display: block;
		margin: 0.5rem 0;
		text-decoration: none;
		background: $backgroundgrey;
		border: 0.1rem solid $bordergrey;
		color: $darkgrey;
		border-radius: 0.25rem;
		padding: 0.33rem 0.75rem;
		text-align: center;
	}

	.sublink{
		max-width: 100%;
		margin: 0.5rem 0 0 1.25rem;

		&.active{
			background: $subactive;
			border: 0.1rem solid $subactiveborder;
		}
	}

	.mainlink{
		&.active{
			background: $mainactive;
			border: 0.1rem solid $mainactiveborder;
		}
	}

	@media only screen and (max-width: $midwidth){
		max-height: auto;
		min-height: auto;
		height: auto;

		&col{
			display: block;
			height: auto;
			overflow: auto;
		}
	}
}