// All variables in the styles.

$black: #191919;
$white: #ffffff;
$backgroundgrey: #efefef;
$textgrey: #777777;
$bordergrey: #cfcfcf;
$darkgrey: #5b5b5b;

$subactive: rgb(216, 233, 249);
$subactiveborder: rgb(184, 198, 215);
$mainactive: rgb(255, 230, 205);
$mainactiveborder: rgb(234, 202, 146);

$midwidth: 768px;